/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page_color: #000028;
  --background_image: url(../images/cover-image-dark.png);
  --hd_ft_title: #db00ff;

  --text_shadow_color: #ff0070;
  --titles_angle_color: #ff0070;
  --hd_subtitle_color: #000028;

  --content_color: #f1b2ce;
  --hover_color: #ff007066;
  --main-gap: 10px;
}

.page.theme_dark .record_symbol {
  display: inherit;
  /* padding-inline-end: 20px; */
}

@media (width >= 768px) {
  .page.theme_dark .record_symbol {
    display: inherit;
    padding-inline-end: 20px;
  }
}
