/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --page_color: #000028;
  --background_image: url(../images/cover-image-dark.png);
  --hd_ft_title: #db00ff;

  --text_shadow_color: #ff0070;
  --titles_angle_color: #ff0070;
  --hd_subtitle_color: #000028;

  --content_color: #f1b2ce;
  --hover_color: #ff007066;
  --main-gap: 10px;
}

@media (width >= 768px) {
  :root {
    --main-gap: 20px;
  }
}
